<% include ../partials/head.ejs %>
<% include ../partials/nav.ejs %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3 font-weight-normal"><%= title %></h1>
        <p class="lead font-weight-normal"><%= description %></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
            <h2><%= title %></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-12">
            <form class="form" action="/conference/add-conference" method="POST" role="form">
                <div class="form-group">
                    <label class="form-label" for="name">Conference name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Conference name" tabindex="1" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="place">Where will it take place</label>
                    <input type="text" class="form-control" id="place" name="place" placeholder="City, Country" tabindex="2" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="subject">Subject of conference</label>
                    <input type="text" class="form-control" id="subject" name="subject" placeholder="What will it be about?" tabindex="3">
                </div>
                <div class="form-group">
                    <label class="form-label" for="description">About conference</label>
                    <textarea rows="5" cols="50" name="description" class="form-control" id="description" placeholder="In a few words, what will be the main event..." tabindex="4" required></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-start-order">Add conference</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="../js/myJS.js"></script>


<% include ../partials/foot.ejs %>
