<% include ../partials/head.ejs %>
<% include ../partials/nav.ejs %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3 font-weight-normal"><%= title %></h1>
        <p class="lead font-weight-normal"><%= description %></p>
        <a class="btn btn-outline-secondary" href="conference/add-conference">Add conference</a>
    </div>
</div>


<div class="row">
    <% conferences.forEach(function(conference) { %>
        <div class="card justify-content-center w-25 m-auto ">
            <div class="card-header"><%= conference.title %> | <small><%= conference.confTown %></small></div>
            <div class="card-body">
                <p>
                    <%= conference.description %>
                </p>
                <a href="/conference/show/ <%= conference.id %>"
                   class="'btn btn-outline-primary">show</a>
                <a href="/conference/update/ <%= conference.id %>"
                   class="'btn btn-outline-primary">update</a>
            </div>
        </div>
    <% }); %>
</div>

<% include ../partials/foot.ejs %>

