<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2 d-none d-md-inline-block" href="/">Home</a>
        <a class="py-2 d-none d-md-inline-block" href="/conference">Conference</a>
        <a class="py-2 d-none d-md-inline-block" href="/users">User admin</a>
    </div>
</nav>