<% include ../partials/head.ejs %>
<% include ../partials/nav.ejs %>
<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 align-content-center">
            <form>
                <div class="form-group row">
                    <label for="inputFirstName" class="col-sm-2 col-form-label">First name</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputFirstName" placeholder="Firstname">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputSurname" class="col-sm-2 col-form-label">Surname</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputSurname" placeholder="Surname">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-4">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4 offset-sm-2">
                        <button type="submit" class="btn btn-primary">add user</button>
                    </div>
                </div>
            </form>
        </div>
        <col-2></col-2>
    </div>
</div>
<% include ../partials/foot.ejs %>
